/* ---------- Txt Color ------------- */
body { color: rgba(0,0,0, 0.87); }

.txt_white { color: #FFFFFF !important; }
.txt_black54 { color: rgba(0,0,0, 0.54); }

.navbar-default .navbar-nav > li > a { color: #3F51B5; }
@media (min-width: 768px) { .navbar-default .navbar-nav > li > a { color: #FFFFFF; } }


.navbar-default .navbar-nav > li:hover > a { color: #FFFFFF; }


/* ---------- BG Color ------------- */

body { background-color: #FFFFFF; }
.bg_indigo { background-color: #3F51B5 !important; }
.bg_gray { background-color: #E8EAF6 !important; }

.navbar-default .navbar-toggle .icon-bar { background-color: #FFFFFF; }

#navbar { background-color: #fff;}
@media (min-width: 768px) { #navbar { background-color: #3F51B5; } }

.navbar-default .navbar-nav > li:hover  { background-color: #9FA8DA; }

.action-button { background-color: #FF1744; }

.shadow { box-shadow: 0px 2px 4px rgba(0,0,0, 0.5);}

.action-button:hover {  box-shadow: 0px 2px 6px rgba(0,0,0, 0.5); }

.action-button:hover {  box-shadow: 0px 3px 8px rgba(0,0,0, 0.5); }